body{
    background-color: black;
}
h3{
    color: white;
}
p{
    color: brown;
}
h1{
    text-align: center;
    color: green;
}
h2{
    color:blue
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .logo{
    width: 10%;
  }